.main_qa_wrap {
    width: 100%;
    min-height: calc(100vh - 170px);
    background-color: #f5f5f5;
    padding-top: 1px;
}

.qa_content {
    margin: 24px 32px auto 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 8px;
}

.qa_title_wrap {
    width: 100%;
    height: 80px;
    padding: 24px;
    border-radius: 8px;
    background-color: #ffffff;
}

.qa_title {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #1b1f23;
}

.qa_questions_wrap {
    width: 100%;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    justify-content: flex-start;
}

.qa_question_content {
    width: 100%;
    padding: 24px;
    border-radius: 8px;
    background-color: #ffffff;
}

.qa_question_title_wrap {
    display: flex;
    justify-content: space-between;
}

.qa_question_title {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #1b1f23;
}

.qa_question_answer {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #1b1f23;
    display: none;
}

.qa_question_button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #ffffff;
}
