.films_wrap {
    width: 100%;
    height: calc(100vh - 170px);
    overflow: scroll;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    row-gap: 16px;
    scroll-behavior: smooth;
}

.film_content {
    width: 100%;
    height: 168px;
    border-radius: 8px;
    background-color: #ffffff;
    display: flex;
    /*  justify-content: space-between; */
    padding: 24px;
    column-gap: 24px;
}

.film_poster {
    width: 100px;
    height: 120px;
    border-radius: 8px;
}

.film_info_wrap {
    width: 100%;
    color: #1b1f23;
   /*  font-family: Roboto; */
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    /*  display: flex;
    justify-content: space-between;
    align-items: flex-start; */
}

.film_info_title {
    font-size: 20px;
    font-weight: 600;
}
.film_info_genre {
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}


.film_info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
