.control_wrap {
    display: flex;
    height: 32px;
    justify-content: space-between;
    column-gap: 8px;
}

.control_button {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: none;
    color: #ffffff;
}

.disabled {
    background-color: #ffa375;
}

.enabled {
    background-color: #ff5500;
}

.close {
    border: none;
    background-image: url("./close.svg");
    width: 32px;
    height: 32px;
    color: #333333;
    scale: 0.59;
    transform: translateY(-10px);
    background-color: #ffffff;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
}

.modal_wrap {
    width: 344px;
    height: 168px;
    padding: 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    background-color: #ffffff;
    border-radius: 8px;
}

.modal_title_wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    justify-content: space-between;
}

.modal_title_content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #1b1f23;
}

.modal_title {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}

.modal_title2 {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}

.modal_button_wrap {
    display: flex;
    column-gap: 8px;
}

.modal_button_yes,
.modal_button_no {
    width: 51px;
    height: 40px;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    border: solid 1px #ff5500;
}
.modal_button_yes {
    background: #ff5500;
    color: #ffffff;
}

.modal_button_no {
    background: #ffffff;
    color: #ff5500;
}
