.main_basket_wrap {
    width: 100%;
    min-height: calc(100vh - 170px);
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.films_basket_wrap {
    width: 100%;
    min-height: calc(100vh - 286px);
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding: 24px;
}

.film_content {
    width: 100%;
    height: 168px;
    border-radius: 8px;
    background-color: #ffffff;
    display: flex;
    padding: 24px;
    column-gap: 24px;
}

.film_poster {
    width: 100px;
    height: 120px;
    border-radius: 8px;
}

.film_info_wrap {
    width: 100%;
    color: #1b1f23;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}

.film_info_title {
    font-size: 20px;
    font-weight: 600;
}
.film_info_genre {
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

.film_info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.total_basket_wrap {
    height: 68px;
    border-radius: 8px;
    margin: 24px;
    background-color: #ffffff;
}

.total_basket_count {
    width: 100%;
    padding: 24px;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #1b1f23;
    display: flex;
    justify-content: space-between;
}
