.film_det_wrap {
    width: 100%;
    min-height: calc(100vh - 170px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    scroll-behavior: smooth;
    background-color: #f5f5f5;
    padding: 32px;
}

.film_det_content {
    width: 100%;
    border-radius: 8px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    column-gap: 32px;
}

.film_det_poster {
  /*   width: 400px;
    height: 500px; */
    border-radius: 8px;
}

.film_det_info_wrap {
    width: 100%;
    color: #1b1f23;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.film_det_info_title_wrap {
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.film_det_info_title {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0px;
}
.film_det_info_title_content {
    margin: 24px auto 0 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 16px;
}
.film_det_info_item {
    display: flex;
    column-gap: 8px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #1b1f23;
}
.film_det_info_item_title {
    font-weight: 600;
}
.film_det_info_item_content {
    font-weight: 400;
}

.film_det_info_content {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    color: #1b1f23;
    letter-spacing: 0px;
    text-align: left;
}
.film_det_info_content_title {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
}
.film_det_info_content_desc {
    /*  font-family: Roboto; */
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.film_det_review_wrap {
    border-radius: 8;
    background-color: #ffffff;
    padding: 24px;
    display: flex;
    column-gap: 32px;
    border-radius: 8px;
}
.film_det_review_img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    background-color: #e0e0e0;
    background-image: url("./photo.svg");
    background-size: 26px 22px;
    background-repeat: no-repeat;
    background-position: center;
}
.film_det_review_contain {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.film_det_review_contain_title_wrap {
    display: flex;
    justify-content: space-between;
}
.film_det_review_contain_title_name {
    /*  font-family: Roboto; */
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #1b1f23;
}
.film_det_review_contain_title_rating {
    display: flex;
    column-gap: 8px;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #1b1f23;
    font-size: 20px;
}
.film_det_review_contain_title_rating_span {
    font-weight: 400;
}
.film_det_review_contain_title_rating_numb {
    font-weight: 600;
}
.film_det_review_contain_text_wrap {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #1b1f23;
}
