.header_wrap {
    width: 100%;
    height: 84px;
    padding: 24px 32px 24px 32px;
    display: flex;
    justify-content: space-between;
    background-color: #333333;
    align-items: center;
}

.title {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
}

.basket_icon_wrap {
    height: 32px;
    width: 68px;
    display: flex;
}

.basket_count {
    width: 28px;
    height: 28px;
    padding: 4px;
    border-radius: 8px;
    background-color: #ff5500;
    /* font-family: Roboto; */
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    margin: 2px auto 2px 0;
    color: #ffffff;
    text-align: center;
}

.basket_icon {
    background-image: url("./Vector.svg");
    height: 25px;
    width: 28px;
    margin: 2px 0 2px auto;
}
